<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>广科闲置物品交易</title>
    <link rel="icon" href="/static/img/logo.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/index.css" />
    <script type="text/javascript" src="/static/js/jquery.js" ></script>
    <script type="text/javascript" src="/static/js/materialize.min.js" ></script>
    <script type="text/javascript" src="/static/js/index.bundle.js" ></script>
    <link rel="stylesheet" href="/static/css/materialize-icon.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <style>

        #picture {
            width: 32px;
            height: 32px;

        }
        #badge {
            width: 20px;
            height: 20px;
            line-height: 20px;  /* 数值与height相同，使数字垂直居中 */
            text-align: center;  /* 使数字水平居中 */
            background-color: red;
            color: white;
            font-size: 12px;
            font-weight: 700;
            border-radius: 50%;  /* 使正方形变圆形，矩形变椭圆形 */
            position:relative ;
            bottom: 55px;
            left: 26px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/font_Icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
    <script>
       function showLogin() {
            if($("#signup-show").css("display")=='block'){
                $("#signup-show").css("display","none");
            }
            if($("#login-show").css("display")=='none'){
                $("#login-show").css("display","block");
            }else{
                $("#login-show").css("display","none");
            }
        }
        function showSignup() {
            if($("#login-show").css("display")=='block'){
                $("#login-show").css("display","none");
            }
            if($("#signup-show").css("display")=='none'){
                $("#signup-show").css("display","block");
            }else{
                $("#signup-show").css("display","none");
            }
        }
        function ChangeName() {
            if($("#changeName").css("display")=='none'){
                $("#changeName").css("display","block");
            }else{
                $("#changeName").css("display","none");
            }
        }
       $(document).ready(function() {
           //异步验证
           $("#phone").blur(function(){
               var phone=$(this).val();
               $.ajax({
                   url:'/user/register',
                   type:'POST',
                   data:{phone:phone},
                   dataType:'json',
                   success:function(json){
                       if(json.flag){
                           $("#errorPhone").html("账号已被注册，请重新输入!");
                           $("#register").attr("disabled",true);
                       }else{
                           $("#errorPhone").empty();
                           $("#register").attr("disabled",false);
                       }
                   },
                   error:function(){
                       alert('请求超时或系统出错!');
                   }
               });

           });

           $("#login_password").focus(function () {
               $("#loginIn").attr("disabled",false);
               $("#login_errorPhone").html("");
               $("#errorPassword").html("");
           });
           $("#login_phone").focus(function () {
               $("#loginIn").attr("disabled",false);
               $("#login_errorPhone").html("");
               $("#errorPassword").html("");
           });

           $("#loginIn").focus(function () {

               var phone = $("#login_phone").val();
               var password = $("#login_password").val();
               $.ajax({
                   url: '/user/login',
                   type: 'POST',
                   data: {phone: phone, password: password},
                   success: function (json) {
                       /*if(json){
                         if(json.flag){
                              $("#errorPassword").html("请核对账号密码，再重新输入!");
                              $("#loginIn").attr("disabled",true);
                         }else{
                              $("#errorPassword").empty();
                              $("#loginIn").attr("disabled",false);
                         }
                     }else{*/
                       if(json=="请检查您的密码是否输入正确"){
                           $("#errorPassword").html("请检查您的密码是否输入正确!");
                           $("#loginIn").attr("disabled",true);
                       }if(json=="该用户不存在"){
                           $("#login_errorPhone").html("您输入的在账号有误!");
                           $("#loginIn").attr("disabled",true);
                       }
                       /*}*/
                   },
                   error:function(json){
                       alert("系统出错啦")
                   }
               });
           });


       });

    </script>
    
    <script type="text/javascript">
    
    function  addFocus(id) {
    	location.href = '/user/addFocus/'+id
    	alert("已关注成功，查看关注列表~")
    	
    }
    
	/* 前往支付 */
    function  toPay(id) {
    	window.location.href = '/goods/buyId/'+id
    }

    function startChat(id,name){
        $.ajax({
            async: false,
            url: '/chat/startChat',
            type: 'POST',
            data: {id:id,name:name},
            success: function (data) {
                if(data=="exist"){
                    showChat1(id);
                }
                if(data=="exist"){
                    showChat1(id);
                }
                if(data=="success"){
                    var html=document.getElementById("chatBox-list").innerHTML;
                    document.getElementById("chatBox-list").innerHTML=html+" <div class=\"chat-list-people\" onclick=\"showChat(" +
                        id +
                        ")\" >\n" +
                        "                    <div><img src=\"/static/img/icon01.png\" alt=\"头像\"/></div>\n" +
                        "                    <div class=\"chat-name\">\n" +
                        "                        <p class=\"" +
                        id +
                        "\">" +
                        name +
                        "</p>\n<input type=\"hidden\" id=\"chat" +
                        id +
                        "\" value=\"" +
                        id +
                        "\" >" +
                        "                    </div>\n" +
                        "                </div>"
                    showChat1(id);
                }
            }
        });

    }
    function showChat1(bid) {
        document.getElementById("chatBox-content-demo").innerHTML="";
        $.ajax({
            async: false,
            url:'/chat/chatHistory',
            type:'POST',
            data:{bid:bid},
            success:function(data){
                var arr=data.historyList;
                for(var i=0;i<data.historyList.length;i++){
                    var html=document.getElementById("chatBox-content-demo").innerHTML;
                    if(arr[i].sendUser=="left"){
                        document.getElementById("chatBox-content-demo").innerHTML=html+"<div class=\"clearfloat\">\n" +
                            "        <div class=\"author-name\">\n" +

                            "        <small class=\"chat-date\">" +
                            arr[i].sendData +
                            "</small>\n" +
                            "    </div>\n" +
                            "    <div class=\"" +
                            arr[i].sendUser +
                            "\">\n" +
                            " <div class=\"chat-avatars\"><img src=\"/static/img/icon01.png\" alt=\"头像\"/></div>\n"+
                            "       <div class=\"chat-message\">\n" +
                            arr[i].content+
                            "       \n" +
                            "        </div>\n" +
                            "        </div>\n" +
                            "        </div>"
                    }
                    if(arr[i].sendUser=="right"){
                        document.getElementById("chatBox-content-demo").innerHTML=html+"<div class=\"clearfloat\">\n" +
                            "        <div class=\"author-name\">\n" +
                            "        <small class=\"chat-date\">" +
                            arr[i].sendData +
                            "</small>\n" +
                            "    </div>\n" +
                            "    <div class=\"" +
                            arr[i].sendUser +
                            "\">\n" +
                            "       <div class=\"chat-message\">\n" +
                            arr[i].content+
                            "       \n" +
                            "        </div>\n" +
                            " <div class=\"chat-avatars\"><img src=\"/static/img/icon01.png\" alt=\"头像\"/></div>\n"+
                            "        </div>\n" +
                            "        </div>"
                    }


                }
            },
            error:function(){
                alert('请求超时或系统出错!');
            }
        });
        var n = $(".chat-list-people").index();
        $(".chatBox").toggle();
        if($(".chatBox-head-two").toggle().is(':hidden')){
            $(".chatBox-head-two").toggle();
        }else{
            $(".chatBox-head-one").toggle();
        }

        if($(".chatBox-kuang").toggle().is(":hidden")){
            $(".chatBox-kuang").fadeToggle();
        }else{
            $(".chatBox-list").fadeToggle();
        }


        //传名字
        $(".ChatInfoName").text($(".chat-list-people").children(".chat-name").children("."+bid).html());
        //传头像
        $(".ChatInfoHead>img").attr("src", $(".chat-list-people").children().eq(0).children("img").attr("src"));
        //传用户聊天对象id
        document.getElementById("bid").value=document.getElementById("chat"+bid).value;
        //聊天框默认最底部
        $(document).ready(function () {
            $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
        });
    }
	
    </script>
    
    
<body ng-view="ng-view">
<!--

    描述：顶部
-->
<div ng-controller="headerController" class="header stark-components navbar-fixed ng-scope">
    <nav class="white nav1">
        <div class="nav-wrapper">
            <a href="/goods/homeGoods" class="logo">
                <em class="em1">广科</em>
                <em class="em2">闲置物品交易</em>
                <em class="em3">gk.market</em>
            </a>
            <div class="nav-wrapper search-bar">
                <form ng-submit="search()" class="ng-pristine ng-invalid ng-invalid-required" action="/goods/search">
                    <div class="input-field">
                        <input id="search" name="str" placeholder="搜点什么吧..." style="height: 40px;"
                               class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"/>
                        <input type="submit" class="btn"value="搜索"></input>
                        <label for="search" class="active">
                            <i ng-click="search()" class="iconfont"></i>
                        </label>
                         
                    </div>
                   
                </form>
            </div>
            <ul class="right">
                <li class="publish-btn" th:if="${session.cur_user} eq null">
                    <button onclick="showLogin()" data-toggle="tooltip"
                            title="您需要先登录哦！" class="red lighten-1 waves-effect waves-light btn" 	>
                        我要发布</button>
                </li>

                <!--
						用来判断登录成功显示的个人小菜单-->

                <li class="publish-btn" th:if="${session.cur_user} ne null">
                    <button data-position="bottom" class="red lighten-1 waves-effect waves-light btn">
                        <a href="/goods/publishGoods">我要发布</a>
                    </button>
                </li>
                <li th:if="${session.cur_user} ne null">
                    <a href="/user/allGoods">我发布的商品</a>
                </li>
                <li th:if="${session.cur_user} ne null">
                    <a th:text="${session.cur_user.username}">  </a>
                </li>
                <li class="changemore" th:if="${session.cur_user} ne null">
                    <a class="changeMoreVertShow()" href="/user/message">
                        <img  id="picture" style="vertical-align:-20%" src="/static/img/message.png" >
                        <div id="badge" th:if="${unreadNum!=0}" th:text="${unreadNum}"></div>
                    </a>

                </li>
                <!-- <li class="notification">
                    <i ng-click="showNotificationBox()" class="iconfont"></i>
                </li> -->
                <li class="changemore" th:if="${session.cur_user} ne null">
                    <a class="changeMoreVertShow()">
                        <i class="iconfont"></i>
                    </a>
                    <div class="more-vert">
                        <ul class="dropdown-content">
                            <li><a href="/user/home">个人中心</a></li>
                            <li><a href="/user/allFocus">我的关注</a></li>
                            <li><a onclick="ChangeName()">更改用户名</a></li>
                            <li><a href="/user/logout">退出登录</a></li>
                        </ul>
                    </div>
                </li>


                <li th:if="${session.cur_user} eq null">
                    <a onclick="showLogin()">登录</a>
                </li>
                <li th:if="${session.cur_user} eq null">
                    <a onclick="showSignup()">注册</a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<!--

    描述：登录
-->
<div ng-controller="loginController" class="ng-scope">
    <div id="login-show" class="login stark-components">
        <div class="publish-box z-depth-4">
            <div class="row">
                <a onclick="showLogin()">
                    <div class="col s12 title"></div>
                </a>
                <form id="loginFrom" method="post" role="form">
                    <div class="input-field col s12">
                        <input type="text" name="phone" id="login_phone" required="required" pattern="^1[0-9]{10}$" class="validate ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-touched" />
                        <label>手机&nbsp;&nbsp;<div id="login_errorPhone" style="color:red;display:inline;"></div></label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" id="login_password"  name="password" required="required" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" />
                        <label>密码&nbsp;&nbsp;<div id="errorPassword" style="color:red;display:inline;"></div></label>
                        <!--   <a ng-click="showForget()" class="forget-btn">忘记密码？</a> -->
                    </div>
                    <button type="submit" id="loginIn" class="waves-effect waves-light btn login-btn red lighten-1">
                        <i class="iconfont left"></i>
                        <em>登录</em>
                    </button>
                    <div class="col s12 signup-area">
                        <em>没有账号？赶快</em>
                        <a onclick="showSignup()" class="signup-btn">注册</a>
                        <em>吧！</em>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--

    描述：注册
-->
<div ng-controller="signupController" class="ng-scope">
    <div id="signup-show" class="signup stark-components">
        <div class="publish-box z-depth-4">
            <div class="row">
                <a onclick="showSignup()">
                    <div class="col s12 title"></div>
                </a>
                <form action="/user/addUser" method="POST" role="form" id="signup_form">
                    <div class="input-field col s12">
                        <input type="text" name="username" required="required" class="validate ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-touched" />
                        <label>昵称</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" name="phone" id="phone" required="required" pattern="^1[0-9]{10}$" class="validate ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-touched" />
                        <label>手机&nbsp;&nbsp;<div id="errorPhone" style="color:red;display:inline;"></div></label>

                    </div>
                    <div class="input-field col s12">
                        <input type="password" name="password" required="required" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" />
                        <label>密码</label>
                    </div>
                    <div ng-show="checkTelIsShow" class="col s12">
                        <button type="submit" id="register" class="waves-effect waves-light btn verify-btn red lighten-1">
                            <i class="iconfont left"></i>
                            <em>点击注册</em>
                        </button>
                    </div>
                    <div ng-show="checkTelIsShow" class="login-area col s12">
                        <em>已有账号？去</em>
                        <a onclick="showLogin()">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--更改用户名-->
<div ng-controller="changeNameController" class="ng-scope">
    <div id="changeName" class="change-name stark-components">
        <div class="publish-box z-depth-4">
            <div class="row">
                <div class="col s12 title">
                    <h1>修改用户名</h1>
                </div>
                <form action="/user/changeName" method="post" commandName="user" role="form">
                    <div class="input-field col s12">
                        <input type="text" name="username" required="required" class="validate ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-touched" />
                        <label>修改用户名</label>
                    </div>
                    <div ng-show="checkTelIsShow" class="col s12">
                        <button class="waves-effect waves-light btn publish-btn red lighten-1">
                            <i class="iconfont left"></i>
                            <em>确认</em>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--显示商品详情-->
<div ng-controller="detailBoxController" class="detail-box stark-components z-depth-1 row ng-scope">
    <div class="col s12 path">
        <a th:href="'/goods/catelog/'+${catelog.id}" th:text="${catelog.name}"></a>
        <em>></em>
        <a th:text="${goodsExtend.goods.name}"></a>
    </div>
    <div class="col s6">
        <div class="slider" style="height: 440px;">
            <ul class="slides" style="height: 400px;">
                <img th:src="'/static/upload/'+${goodsExtend.images[0].imgUrl}" />
            </ul>
            <ul class="indicators">
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
            </ul>
        </div>
    </div>
    <div class="col s6">
        <h1 class="item-name" th:text="${goodsExtend.goods.name}"></h1>
        <h2 class="item-price" th:text="${goodsExtend.goods.price}"></h2>
        <h2 class="publisher-info-title">原价：<span style="text-decoration:line-through; " th:text="${goodsExtend.goods.realPrice}"></span></h2>
        <div class="item-public-info">
            <p class="bargain">可讲价</p>
            <p>
                <i class="iconfont"></i>
                <em class="item-location">广东科技学院</em>
            </p>
        </div>
        <div class="publisher-info-title">
            <em>卖家信息</em><hr>
        </div>

            <div class="item-contact" th:if="${session.cur_user} eq null">
                <p class="not-login">
                    <a onclick="showLogin()">登录</a>
                    <em>或</em>
                    <a onclick="showSignup()">注册</a>
                    <em>后查看联系信息</em>
                </p>
            </div>


            <div class="item-contact" th:if="${session.cur_user} ne null">
                <div>
                    <div class="base-blue z-depth-1 attr">
                        <i class="iconfont"></i>
                    </div>
                    <div class="value" th:text="${seller.username}"></div>
                </div>
                <div>
                    <div class="base-blue z-depth-1 attr">
                        <i class="iconfont"></i>
                    </div>
                    <div class="value" th:text="${seller.phone}"></div>
                </div>
                <div>
                    <div class="base-blue z-depth-1 attr">
                        <i class="iconfont"></i>
                    </div>
                    <div class="value" th:if="${seller.qq} ne null"><a th:text="${seller.qq}"></a></div>
                    <div class="value" th:if="${seller.qq} eq null">该同学没留下QQ</div>
                </div>
                <div>
              
               <input type="button" value="加入关注" class="blue lighten-1 waves-effect waves-light btn" id="btn_cart" th:onclick="'addFocus('+${goodsExtend.goods.id}+')'"></input>

               <input th:if="${session.cur_user.id} eq ${goodsExtend.goods.userId}" type="button" value="在线支付" data-toggle="tooltip"  title="不可以购买自己的东西哦~" disabled="disabled" class="blue lighten-1 waves-effect waves-light btn" id="btn_buy"></input>


               <input  th:if="${session.cur_user.id} ne ${goodsExtend.goods.userId}" type="button" value="在线支付"  class="blue lighten-1 waves-effect waves-light btn" id="btn_buy" th:onclick="'toPay('+${goodsExtend.goods.id}+')'"></input>

                    <input  th:if="${session.cur_user.id} ne ${goodsExtend.goods.userId}" type="button" value="私信卖家"  class="blue lighten-1 waves-effect waves-light btn" id="start_chat" th:onclick="startChat([[${goodsExtend.goods.userId}]],[[${seller.username}]])"></input>

                </div>
                
            </div>

        <h1 class="item-pub-time" th:text="'发布于'+${goodsExtend.goods.startTime}"> </h1>
    </div>
</div>
<div class="detail-box stark-components z-depth-1 row">
    <h1 class="title">商品描述</h1>
    <hr class="hr1" />
    <hr class="hr2" />
    <p class="section" th:text="'描述：'+${goodsExtend.goods.describle}"></p>
    <p class="section"></p>
    <p class="section">
        联系我的时候，请说明是在“闲置物品交易平台”上看见的哦~
    </p>
</div>
<div class="row detail-area">
    <div class="clo s12">
        <div ng-controller="commentController" class="comment stark-components z-depth-1 ng-scope">
            <h1 class="title">评论</h1>
            <hr class="hr1" />
            <hr class="hr2" />

            <div class="comment-collection" th:each="item:${CommentExtend.comments}">
                <div class="comment-item ng-scope">
                    <div class="comment-main-content">
               <em class="name ng-binding" th:text="${item.user.username}">:</em>
                        <em class="ng-hide">回复</em>
                        <em class="name ng-binding ng-hide">@:</em>
                        <em class="ng-binding" th:text="${item.content}"></em>
                    </div>
                    <div class="comment-function">
                        <em class="time ng-biinding" th:text="${item.createAt}"></em>
                       
                       <!--  <a class="reply-or-delete">删除</a>
                        <a class="reply-or-delete">回复</a> -->
                    </div>
                </div>
            </div>

          <form id="addCommentForm" class="form-horizontal" >
            <div class="comment-add row">
                <div class="input-field col s12">
                    <i class="iconfont prefix"></i>
                    <input id="goodsId" name="goods.id" th:value="${goodsExtend.goods.id}" type="hidden"/>
                    <input id="commentbox" type="text" name="content" class="validate ng-pristine ng-untouched ng-valid ng-empty"/>
                    <label for="commentbox">这里写下评论</label>

                    <button th:if="${session.cur_user} ne null" type="button" class="waves-effect wave-light btn comment-submit" onclick="addComments()">确认</button>


                    <button th:if="${session.cur_user} eq null" href="javacript:void(0);" data-toggle="tooltip"  title="您需要先登录哦！" disabled="disabled" class="waves-effect wave-light btn comment-submit">确认</button>

                   
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
/* 评论 */
function addComments(){
	$.ajax({
		url:'/goods/addComments',
		type:'POST',
		data:$('#addCommentForm').serialize(),// 序列化表单值  
		dataType:'json',
	/* 	success:function(json){
			alert(1)
			alert(json.msg)
		},
		error:function(){
			alert('请求超时或系统出错!');
		} */
	});
	alert("您已评论成功~")
	window.location.reload();
}
</script>

<div class="chatContainer" style="z-index: 999" th:if="${session.cur_user} ne null">
    <div class="chatBtn">
        <i class="iconfont1 icon-xiaoxi1"></i>
    </div>
    <div th:if="${chatNum} ne 0 " class="chat-message-num"><p  th:text="${chatNum}"></p></div>
    <div class="chatBox" ref="chatBox" style="display: none;">
        <div class="chatBox-head">
            <div class="chatBox-head-one" >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;私信
                <div class="chat-close" style="margin: 10px 10px 0 0;font-size: 14px">关闭</div>
            </div>
            <div class="chatBox-head-two">
                <div class="chat-return">返回</div>
                <div class="chat-people">
                    <div class="ChatInfoHead">
                        <img src="" alt="头像"/>
                    </div>
                    <div class="ChatInfoName">这是用户的名字，看看名字到底能有多长</div>
                    <input type="hidden" id="bid" value="">
                </div>
                <div class="chat-close">关闭</div>
            </div>
        </div>
        <div class="chatBox-info">
            <div class="chatBox-list" ref="chatBoxlist" id="chatBox-list">
                <div class="chat-list-people" th:each="friend:${friendList}" th:onclick="showChat( [[${friend.bid}]])">
                    <div><img src="/static/img/icon01.png" alt="头像"/></div>
                    <div class="chat-name">
                        <p th:class="${friend.bid}" th:text="${friend.getBidName()}"></p>
                        <input type="hidden" th:id="'chat'+${friend.bid}" th:value="${friend.bid}" >
                    </div>
                    <div class="message-num"><p th:if="${friend.noReadNum} ne 0" th:text="${friend.noReadNum}"></p></div>
                </div>
            </div>
            <div class="chatBox-kuang" ref="chatBoxkuang">
                <div class="chatBox-content">
                    <div class="chatBox-content-demo" id="chatBox-content-demo">


                    </div>
                </div>
                <div class="chatBox-send">
                    <div class="div-textarea" contenteditable="true"></div>
                    <div>
                        <button id="chat-biaoqing" class="btn-default-styles">
                            <i class="iconfont1 icon-biaoqing"></i>
                        </button>
                        <label id="chat-tuxiang" title="发送图片" for="inputImage" class="btn-default-styles">
                            <input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png"
                                   name="file" id="inputImage" class="hidden">
                            <i class="iconfont1 icon-tuxiang"></i>
                        </label>
                        <button id="chat-fasong" class="btn-default-styles"><i class="iconfont1 icon-fasong"></i>
                        </button>
                    </div>
                    <div class="biaoqing-photo">
                        <ul>
                            <li><span class="emoji-picker-image" style="background-position: -9px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -154px;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    screenFuc();
    function screenFuc() {
        var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
        //屏幕小于768px时候,布局change
        var winWidth = $(window).innerWidth();
        if (winWidth <= 768) {
            var totalHeight = $(window).height(); //页面整体高度
            $(".chatBox-info").css("height", totalHeight - topHeight);
            var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
            //中间内容高度
            $(".chatBox-content").css("height", infoHeight - 46);
            $(".chatBox-content-demo").css("height", infoHeight - 46);

            $(".chatBox-list").css("height", totalHeight - topHeight);
            $(".chatBox-kuang").css("height", totalHeight - topHeight);
            $(".div-textarea").css("width", winWidth - 106);
        } else {
            $(".chatBox-info").css("height", 495);
            $(".chatBox-content").css("height", 448);
            $(".chatBox-content-demo").css("height", 448);
            $(".chatBox-list").css("height", 495);
            $(".chatBox-kuang").css("height", 495);
            $(".div-textarea").css("width", 260);
        }
    }
    (window.onresize = function () {
        screenFuc();
    })();
    //未读信息数量为空时
    var totalNum = $(".chat-message-num").html();
    if (totalNum == "") {
        $(".chat-message-num").css("padding", 0);
    }
    $(".message-num").each(function () {
        var wdNum = $(this).html();
        if (wdNum == "") {
            $(this).css("padding", 0);
        }
    });


    //打开/关闭聊天框
    $(".chatBtn").click(function () {
        $(".chatBox").toggle(10);
    })
    $(".chat-close").click(function () {
        $(".chatBox").toggle(10);
    })
    //进聊天页面  chat-list-people


    function showChat(bid) {
        document.getElementById("chatBox-content-demo").innerHTML="";
        $.ajax({
            async: false,
            url:'/chat/chatHistory',
            type:'POST',
            data:{bid:bid},
            success:function(data){
                var arr=data.historyList;
                for(var i=0;i<data.historyList.length;i++){
                    var html=document.getElementById("chatBox-content-demo").innerHTML;
                    if(arr[i].sendUser=="left"){
                        document.getElementById("chatBox-content-demo").innerHTML=html+"<div class=\"clearfloat\">\n" +
                            "        <div class=\"author-name\">\n" +

                            "        <small class=\"chat-date\">" +
                            arr[i].sendData +
                            "</small>\n" +
                            "    </div>\n" +
                            "    <div class=\"" +
                            arr[i].sendUser +
                            "\">\n" +
                            " <div class=\"chat-avatars\"><img src=\"/static/img/icon01.png\" alt=\"头像\"/></div>\n"+
                            "       <div class=\"chat-message\">\n" +
                            arr[i].content+
                            "       \n" +
                            "        </div>\n" +
                            "        </div>\n" +
                            "        </div>"
                    }
                    if(arr[i].sendUser=="right"){
                        document.getElementById("chatBox-content-demo").innerHTML=html+"<div class=\"clearfloat\">\n" +
                            "        <div class=\"author-name\">\n" +
                            "        <small class=\"chat-date\">" +
                            arr[i].sendData +
                            "</small>\n" +
                            "    </div>\n" +
                            "    <div class=\"" +
                            arr[i].sendUser +
                            "\">\n" +
                            "       <div class=\"chat-message\">\n" +
                            arr[i].content+
                            "       \n" +
                            "        </div>\n" +
                            " <div class=\"chat-avatars\"><img src=\"/static/img/icon01.png\" alt=\"头像\"/></div>\n"+
                            "        </div>\n" +
                            "        </div>"
                    }


                }
            },
            error:function(){
                alert('请求超时或系统出错!');
            }
        });
        var n = $(".chat-list-people").index();
        $(".chatBox-head-one").toggle();
        $(".chatBox-head-two").toggle();
        $(".chatBox-list").fadeToggle();
        $(".chatBox-kuang").fadeToggle();
        //传名字
        $(".ChatInfoName").text($(".chat-list-people").children(".chat-name").children("."+bid).html());
        //传头像
        $(".ChatInfoHead>img").attr("src", $(".chat-list-people").children().eq(0).children("img").attr("src"));
        //传用户聊天对象id
        document.getElementById("bid").value=document.getElementById("chat"+bid).value;
        //聊天框默认最底部
        $(document).ready(function () {
            $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
        });
    }



    //返回列表
    $(".chat-return").click(function () {
        $(".chatBox-head-one").toggle(1);
        $(".chatBox-head-two").toggle(1);
        $(".chatBox-list").fadeToggle(1);
        $(".chatBox-kuang").fadeToggle(1);
    });

    //      发送信息
    $("#chat-fasong").click(function () {
        var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>')
        var bid=document.getElementById("bid").value
        if (textContent != "") {
            $.ajax({
                async: false,
                url: '/chat/sendChat',
                type: 'POST',
                data: {bid:bid,textContent:textContent},
                success: function (data) {
                    $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                        "<div class=\"author-name\"><small class=\"chat-date\">" +
                        data.sendData +
                        "</small> </div> " +
                        "<div class=\"right\"> <div class=\"chat-message\"> " + textContent + " </div> " +
                        "<div class=\"chat-avatars\"><img src=\"/static/img/icon01.png\" alt=\"头像\" /></div> </div> </div>");
                }
            });
            //发送后清空输入框
            $(".div-textarea").html("");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });

        }
    });

    //      发送表情
    $("#chat-biaoqing").click(function () {
        $(".biaoqing-photo").toggle();
    });
    $(document).click(function () {
        $(".biaoqing-photo").css("display", "none");
    });
    $("#chat-biaoqing").click(function (event) {
        event.stopPropagation();//阻止事件
    });

    $(".emoji-picker-image").each(function () {
        $(this).click(function () {
            var bq = $(this).parent().html();
            console.log(bq)
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"> " + bq + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>");
            //发送后关闭表情框
            $(".biaoqing-photo").toggle();
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        })
    });

    //      发送图片
    function selectImg(pic) {
        if (!pic.files || !pic.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var images = evt.target.result;
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"><img src=" + images + "></div> " +
                "<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        };
        reader.readAsDataURL(pic.files[0]);

    }


</script>


</html>