<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />

    <title>广科闲置物品交易</title>
    <link rel="icon" href="/static/img/logo.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/index.css" />
    <script type="text/javascript" src="/static/js/jquery.js" ></script>
    <script type="text/javascript" src="/static/js/materialize.min.js" ></script>
    <script type="text/javascript" src="/static/js/index.bundle.js" ></script>
    <link rel="stylesheet" href="/static/css/materialize-icon.css" />
    <link rel="stylesheet" href="/static/css/user.css" />
    <link rel="stylesheet" type="text/css" href="/static/font_Icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
    <script>
        function showLogin() {
            if($("#signup-show").css("display")=='block'){
                $("#signup-show").css("display","none");
            }
            if($("#login-show").css("display")=='none'){
                $("#login-show").css("display","block");
            }else{
                $("#login-show").css("display","none");
            }
        }
        function showSignup() {
            if($("#login-show").css("display")=='block'){
                $("#login-show").css("display","none");
            }
            if($("#signup-show").css("display")=='none'){
                $("#signup-show").css("display","block");
            }else{
                $("#signup-show").css("display","none");
            }
        }
        function ChangeName() {
            if($("#changeName").css("display")=='none'){
                $("#changeName").css("display","block");
            }else{
                $("#changeName").css("display","none");
            }
        }
        
        $(document).ready(function() {
            //异步验证
             $("#phone").blur(function(){
                var phone=$(this).val();
                $.ajax({
                      url:'/user/register',
                      type:'POST',
                      data:{phone:phone},
                      dataType:'json',
                      success:function(json){
                          if(json.flag){
                               $("#errorPhone").html("账号已被注册，请重新输入!");
                               $("#register").attr("disabled",true);
                          }else{
                               $("#errorPhone").empty();
                               $("#register").attr("disabled",false);
                          }
                      },
                      error:function(){
                          alert('请求超时或系统出错!');
                      }
                  });

              });

            $("#login_password").focus(function () {
                $("#loginIn").attr("disabled",false);
                $("#login_errorPhone").html("");
                $("#errorPassword").html("");
            });
            $("#login_phone").focus(function () {
                $("#loginIn").attr("disabled",false);
                $("#login_errorPhone").html("");
                $("#errorPassword").html("");
            });

            $("#loginIn").focus(function () {

                var phone = $("#login_phone").val();
                var password = $("#login_password").val();
                $.ajax({
                    url: '/user/login',
                    type: 'POST',
                    data: {phone: phone, password: password},
                    success: function (json) {
                        /*if(json){
      					if(json.flag){
      						 $("#errorPassword").html("请核对账号密码，再重新输入!");
      						 $("#loginIn").attr("disabled",true);
      					}else{
      						 $("#errorPassword").empty();
      						 $("#loginIn").attr("disabled",false);
      					}
      				}else{*/
      					if(json=="请检查您的密码是否输入正确"){
    						 $("#errorPassword").html("请检查您的密码是否输入正确!");
    						 $("#loginIn").attr("disabled",true);
    					}if(json=="该用户不存在"){
    						 $("#login_errorPhone").html("您输入的在账号有误!");
    						 $("#loginIn").attr("disabled",true);
    					}
      				/*}*/
      				},
      				error:function(json){
     					alert("系统出错啦")
      				}
                });
                });


        });

        
        
    </script>
<body ng-view="ng-view">
<!--
    描述：顶部
-->
<div ng-controller="headerController" class="header stark-components navbar-fixed ng-scope">
    <nav class="white nav1">
        <div class="nav-wrapper">
            <a href="/goods/homeGoods" class="logo">
                <em class="em1">广科</em>
                <em class="em2">闲置物品交易</em>
                <em class="em3">gk.market</em>
            </a>
            <div class="nav-wrapper search-bar">
                <form class="ng-pristine ng-invalid ng-invalid-required" action="/goods/search">
                    <div class="input-field">
                        <input id="search" name="str" placeholder="搜点什么吧..." style="height: 40px;"
                               class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"/>
                      	<input type="submit" class="btn"value="搜索"></input>
                        <label for="search" class="active">
                            <i ng-click="search()" class="iconfont"></i>
                        </label>
                    </div>
                </form>
            </div>
            <ul class="right">


                    <li class="publish-btn" th:if="${session.cur_user} eq null">
                       <button onclick="showLogin()" data-toggle="tooltip" 
                                title="您需要先登录哦！" class="red lighten-1 waves-effect waves-light btn" 	>
                            我要发布</button>
                    </li>

                <!-- 
						用来判断登录成功显示的个人小菜单-->

                    <li class="publish-btn" th:if="${session.cur_user} ne null">
                        <button data-position="bottom" class="red lighten-1 waves-effect waves-light btn">
                            <a href="/goods/publishGoods">我要发布</a>
                        </button>
                    </li>
                    <li th:if="${session.cur_user} ne null">
                        <a href="/user/allGoods">我发布的商品</a>
                    </li>
                    <li th:if="${session.cur_user} ne null">
                        <a th:text="${session.cur_user.username}">  </a>
                    </li>
                    <li class="changemore" th:if="${session.cur_user} ne null">
                        <a class="changeMoreVertShow()" href="/user/message">
                            <img  id="picture" style="vertical-align:-20%" src="/static/img/message.png" >
                            <div id="badge" th:if="${unreadNum!=0}" th:text="${unreadNum}"></div>
                        </a>

                    </li>
                    <li class="changemore" th:if="${session.cur_user} ne null">
                        <a class="changeMoreVertShow()">
                            <i class="iconfont"></i>
                        </a>
                        <div class="more-vert">
                            <ul class="dropdown-content">
                                <li><a href="/user/home">个人中心</a></li>
                                <li><a href="/user/allFocus">我的关注</a></li>
                                <li><a onclick="ChangeName()">更改用户名</a></li>
                                <li><a href="/user/logout">退出登录</a></li>
                            </ul>
                        </div>
                    </li>


                    <li th:if="${session.cur_user} eq null">
                        <a onclick="showLogin()">登录</a>
                    </li>
                    <li th:if="${session.cur_user} eq null">
                        <a onclick="showSignup()">注册</a>
                    </li>

          </ul>
        </div>
    </nav>
</div>
<!--
    描述：登录
-->
<div ng-controller="loginController" class="ng-scope">
    <div id="login-show" class="login stark-components">
        <div class="publish-box z-depth-4">
            <div class="row">
                <a onclick="showLogin()">
                    <div class="col s12 title"></div>
                </a>
                <form id="loginFrom" method="post" role="form">
                    <div class="input-field col s12">
                        <input type="text" name="phone" id="login_phone" required="required" pattern="^1[0-9]{10}$" class="validate ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-touched" />
                        <label>手机&nbsp;&nbsp;<div id="login_errorPhone" style="color:red;display:inline;"></div></label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" id="login_password"  name="password" required="required" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" />
                        <label>密码&nbsp;&nbsp;<div id="errorPassword" style="color:red;display:inline;"></div></label>
                      <!--   <a ng-click="showForget()" class="forget-btn">忘记密码？</a> -->
                    </div>
                    <button type="submit" id="loginIn" class="waves-effect waves-light btn login-btn red lighten-1">
                        <i class="iconfont left"></i>
                        <em>登录</em>
                    </button>
                    <div class="col s12 signup-area">
                        <em>没有账号？赶快</em>
                        <a onclick="showSignup()" class="signup-btn">注册</a>
                        <em>吧！</em>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--

    描述：注册
-->
<div ng-controller="signupController" class="ng-scope">
    <div id="signup-show" class="signup stark-components">
        <div class="publish-box z-depth-4">
            <div class="row">
                <a onclick="showSignup()">
                    <div class="col s12 title"></div>
                </a>
                <form action="/user/addUser" method="POST" role="form" id="signup_form">
                    <div class="input-field col s12">
                        <input type="text" name="username" required="required" class="validate ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-touched" />
                        <label>昵称</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" name="phone" id="phone" required="required" pattern="^1[0-9]{10}$" class="validate ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-touched" />
                        <label>手机&nbsp;&nbsp;<div id="errorPhone" style="color:red;display:inline;"></div></label>
                           
                    </div>
                    <div class="input-field col s12">
                        <input type="password" name="password" required="required" class="validate ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" />
                        <label>密码</label>
                    </div>
                    <div ng-show="checkTelIsShow" class="col s12">
                        <button type="submit" id="register" class="waves-effect waves-light btn verify-btn red lighten-1">
                            <i class="iconfont left"></i>
                            <em>点击注册</em>
                        </button>
                    </div>
                    <div ng-show="checkTelIsShow" class="login-area col s12">
                        <em>已有账号？去</em>
                        <a onclick="showLogin()">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--更改用户名-->
<div ng-controller="changeNameController" class="ng-scope">
    <div id="changeName" class="change-name stark-components">
        <div class="publish-box z-depth-4">
            <div class="row">
                <div class="col s12 title">
                    <h1>修改用户名</h1>
                </div>
                <form action="/user/changeName" method="post"  role="form">
                    <div class="input-field col s12">
                        <input type="text" name="username" required="required" class="validate ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-touched" />
                        <label>修改用户名</label>
                         
                    </div>
                    <div ng-show="checkTelIsShow" class="col s12">
                   <button class="waves-effect waves-light btn publish-btn red lighten-1">
                            <i class="iconfont left"></i>
                            <em>确认</em>
                        </button>   
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
    描述：左侧导航条
-->
<div ng-controller="sidebarController" class="sidebar stark-components ng-scope">
    <li ng-class="{true: 'active'}[isAll]">
        <a href="catelog" class="index">
            <img src="/static/img/index.png">
            <em>最新发布</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isDigital]">
        <a href="catelog/1" class="digital">
            <img src="/static/img/digital.png"  />
            <em>闲置数码</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isRide]">
        <a href="catelog/2" class="ride">
            <img src="/static/img/ride.png"/>
            <em>校园代步</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isCommodity]">
        <a href="catelog/3" class="commodity">
            <img src="/static/img/commodity.png"/>
            <em>电器日用</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isBook]">
        <a href="catelog/4" class="book">
            <img src="/static/img/book.png"/>
            <em>图书教材</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isMakeup]">
        <a href="catelog/5" class="makeup">
            <img src="/static/img/makeup.png"/>
            <em>美妆衣物</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isSport]">
        <a href="catelog/6" class="sport">
            <img src="/static/img/sport.png"/>
            <em>运动棋牌</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isSmallthing]">
        <a href="catelog/7" class="smallthing">
            <img src="/static/img/smallthing.png"/>
            <em>票券小物</em>
        </a>
    </li>
    <div class="info">
        <a href="" target="_blank">关于我们</a><em>-</em>
        <a href="">联系我们</a>
        <p>©2019 广科闲置物品交易</p>
    </div>
</div>
<!--

    描述：右侧显示部分
-->
<div class="main-content">
    <!--

        描述：右侧banner（图片）部分
    -->
    <div class="slider-wapper" >
        <div class="slider" style="height: 440px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <ul class="slides" style="height: 400px;">
                <li class="active" style="opacity: 1;">
                    <a href="/goods/homeGoods">
                        <div class="bannerimg">
                            <ul class="bannerul">
                                <p class="text1">Hello：</p>
                                <p class="text2">欢迎来到校园闲置物品交易。临近毕业季的你，是否有</p>
                                <p class="text3">太多的闲置与校友分享，为了追求更好的校园服务。</p>
                                <p class="text4">我们打造了一个全新的校园平台——<span>校园闲置物品交易</p>
                                <p class="text5">这里有更多的闲置分享，更自由的校园话题讨论，你想要的，都在这里。</p>
                                <p class="text6">加入校园闲置物品交易平台，你的大学，应更精彩。</p>
                            </ul>
                          <!--   <div class="logoimg">
                                <img src="../img/p_logo.jpg" />
                            </div> -->
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--

        描述：最新发布
    -->
    <div class="index-title">
        <a href="">最新发布</a>
        <hr class="hr1">
        <hr class="hr2">
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal">


                <div class="card col" th:each="Good:${catelogGoods}">
                    <a th:href="'/goods/goodsId/'+${Good.goods.id}">
                        <div class="card-image">
                            <img th:src="'/static/upload/'+${Good.images[0].imgUrl}" />
                        </div>
                        <div class="card-content item-price"><span th:text="${Good.goods.price}"></span></div>
                        <div class="card-content item-name">
                            <p th:text="${Good.goods.name}"></p>
                        </div>
                        <div class="card-content item-location">
                            <p>广东科技学院</p>
                            <p th:text="${Good.goods.startTime}"></p>
                        </div>
                    </a>
                </div>

        </div>
    </div>
    <!--

        描述：闲置数码
    -->
    <div class="index-title">
        <a href="">闲置数码</a>
        <hr class="hr1">
        <hr class="hr2">
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal">

            <div class="card col" th:each="item:${catelogGoods1}">
                <a th:href="'/goods/goodsId/'+${item.goods.id}">
                    <div class="card-image">
                        <img th:src="'/static/upload/'+${item.images[0].imgUrl}" />
                    </div>
                    <div class="card-content item-price"><p th:text="${item.goods.price}"></p></div>
                    <div class="card-content item-name">
                        <p><p th:text="${item.goods.name}"></p></p>
                    </div>
                    <div class="card-content item-location">
                        <p>广东科技学院</p>
                        <p><p th:text="${item.goods.startTime}"></p></p>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <!--

        描述：校园代步
    -->
    <div class="index-title">
        <a href="">校园代步</a>
        <hr class="hr1">
        <hr class="hr2">
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal">
                <div class="card col" th:each="item:${catelogGoods2}">
                    <a th:href="'/goods/goodsId/'+${item.goods.id}">
                        <div class="card-image">
                            <img th:src="'/static/upload/'+${item.images[0].imgUrl}" />
                        </div>
                        <div class="card-content item-price"><p th:text="${item.goods.price}"></p></div>
                        <div class="card-content item-name">
                            <p><p th:text="${item.goods.name}"></p></p>
                        </div>
                        <div class="card-content item-location">
                            <p>广东科技学院</p>
                            <p><p th:text="${item.goods.startTime}"></p></p>
                        </div>
                    </a>
                </div>

        </div>
    </div>
    <div class="index-title">
        <a href="">电器日用</a>
        <hr class="hr1">
        <hr class="hr2">
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal">
            <div class="card col" th:each="item:${catelogGoods3}">
                <a th:href="'/goods/goodsId/'+${item.goods.id}">
                    <div class="card-image">
                        <img th:src="'/static/upload/'+${item.images[0].imgUrl}" />
                    </div>
                    <div class="card-content item-price"><p th:text="${item.goods.price}"></p></div>
                    <div class="card-content item-name">
                        <p><p th:text="${item.goods.name}"></p></p>
                    </div>
                    <div class="card-content item-location">
                        <p>广东科技学院</p>
                        <p><p th:text="${item.goods.startTime}"></p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="index-title">
        <a href="">图书教材</a>
        <hr class="hr1">
        <hr class="hr2">
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal">
            <div class="card col" th:each="item:${catelogGoods4}">
                <a th:href="'/goods/goodsId/'+${item.goods.id}">
                    <div class="card-image">
                        <img th:src="'/static/upload/'+${item.images[0].imgUrl}" />
                    </div>
                    <div class="card-content item-price"><p th:text="${item.goods.price}"></p></div>
                    <div class="card-content item-name">
                        <p><p th:text="${item.goods.name}"></p></p>
                    </div>
                    <div class="card-content item-location">
                        <p>广东科技学院</p>
                        <p><p th:text="${item.goods.startTime}"></p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="index-title">
        <a href="">美妆衣物</a>
        <hr class="hr1">
        <hr class="hr2">
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal">
            <div class="card col" th:each="item:${catelogGoods5}">
                <a th:href="'/goods/goodsId/'+${item.goods.id}">
                    <div class="card-image">
                        <img th:src="'/static/upload/'+${item.images[0].imgUrl}" />
                    </div>
                    <div class="card-content item-price"><p th:text="${item.goods.price}"></p></div>
                    <div class="card-content item-name">
                        <p><p th:text="${item.goods.name}"></p></p>
                    </div>
                    <div class="card-content item-location">
                        <p>广东科技学院</p>
                        <p><p th:text="${item.goods.startTime}"></p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="index-title">
        <a href="">运动棋牌</a>
        <hr class="hr1">
        <hr class="hr2">
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal">
            <div class="card col" th:each="item:${catelogGoods6}">
                <a th:href="'/goods/goodsId/'+${item.goods.id}">
                    <div class="card-image">
                        <img th:src="'/static/upload/'+${item.images[0].imgUrl}" />
                    </div>
                    <div class="card-content item-price"><p th:text="${item.goods.price}"></p></div>
                    <div class="card-content item-name">
                        <p><p th:text="${item.goods.name}"></p></p>
                    </div>
                    <div class="card-content item-location">
                        <p>广东科技学院</p>
                        <p><p th:text="${item.goods.startTime}"></p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="index-title">
        <a href="">票券小物</a>
        <hr class="hr1">
        <hr class="hr2">
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal">
            <div class="card col" th:each="item:${catelogGoods7}">
                <a th:href="'/goods/goodsId/'+${item.goods.id}">
                    <div class="card-image">
                        <img th:src="'/static/upload/'+${item.images[0].imgUrl}" />
                    </div>
                    <div class="card-content item-price"><p th:text="${item.goods.price}"></p></div>
                    <div class="card-content item-name">
                        <p><p th:text="${item.goods.name}"></p></p>
                    </div>
                    <div class="card-content item-location">
                        <p>广东科技学院</p>
                        <p><p th:text="${item.goods.startTime}"></p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="chatContainer" style="z-index: 999" th:if="${session.cur_user} ne null">
    <div class="chatBtn">
        <i class="iconfont1 icon-xiaoxi1"></i>
    </div>
    <div th:if="${chatNum} ne 0 " class="chat-message-num"><p  th:text="${chatNum}"></p></div>
    <div class="chatBox" ref="chatBox" style="display: none;">
        <div class="chatBox-head">
            <div class="chatBox-head-one" >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;私信
                <div class="chat-close" style="margin: 10px 10px 0 0;font-size: 14px">关闭</div>
            </div>
            <div class="chatBox-head-two">
                <div class="chat-return">返回</div>
                <div class="chat-people">
                    <div class="ChatInfoHead">
                        <img src="" alt="头像"/>
                    </div>
                    <div class="ChatInfoName">这是用户的名字，看看名字到底能有多长</div>
                    <input type="hidden" id="bid" value="">
                </div>
                <div class="chat-close">关闭</div>
            </div>
        </div>
        <div class="chatBox-info">
            <div class="chatBox-list" ref="chatBoxlist">
                <div class="chat-list-people" th:each="friend:${friendList}" th:onclick="showChat( [[${friend.bid}]])">
                    <div><img src="/static/img/icon01.png" alt="头像"/></div>
                    <div class="chat-name">
                        <p th:class="${friend.bid}" th:text="${friend.getBidName()}"></p>
                        <input type="hidden" th:id="'chat'+${friend.bid}" th:value="${friend.bid}" >
                    </div>
                    <div class="message-num"><p th:if="${friend.noReadNum} ne 0" th:text="${friend.noReadNum}"></p></div>
                </div>
            </div>
            <div class="chatBox-kuang" ref="chatBoxkuang">
                <div class="chatBox-content">
                    <div class="chatBox-content-demo" id="chatBox-content-demo">


                    </div>
                </div>
                <div class="chatBox-send">
                    <div class="div-textarea" contenteditable="true"></div>
                    <div>
                        <button id="chat-biaoqing" class="btn-default-styles">
                            <i class="iconfont1 icon-biaoqing"></i>
                        </button>
                        <label id="chat-tuxiang" title="发送图片" for="inputImage" class="btn-default-styles">
                            <input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png"
                                   name="file" id="inputImage" class="hidden">
                            <i class="iconfont1 icon-tuxiang"></i>
                        </label>
                        <button id="chat-fasong" class="btn-default-styles"><i class="iconfont1 icon-fasong"></i>
                        </button>
                    </div>
                    <div class="biaoqing-photo">
                        <ul>
                            <li><span class="emoji-picker-image" style="background-position: -9px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -154px;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    screenFuc();
    function screenFuc() {
        var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
        //屏幕小于768px时候,布局change
        var winWidth = $(window).innerWidth();
        if (winWidth <= 768) {
            var totalHeight = $(window).height(); //页面整体高度
            $(".chatBox-info").css("height", totalHeight - topHeight);
            var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
            //中间内容高度
            $(".chatBox-content").css("height", infoHeight - 46);
            $(".chatBox-content-demo").css("height", infoHeight - 46);

            $(".chatBox-list").css("height", totalHeight - topHeight);
            $(".chatBox-kuang").css("height", totalHeight - topHeight);
            $(".div-textarea").css("width", winWidth - 106);
        } else {
            $(".chatBox-info").css("height", 495);
            $(".chatBox-content").css("height", 448);
            $(".chatBox-content-demo").css("height", 448);
            $(".chatBox-list").css("height", 495);
            $(".chatBox-kuang").css("height", 495);
            $(".div-textarea").css("width", 260);
        }
    }
    (window.onresize = function () {
        screenFuc();
    })();
    //未读信息数量为空时
    var totalNum = $(".chat-message-num").html();
    if (totalNum == "") {
        $(".chat-message-num").css("padding", 0);
    }
    $(".message-num").each(function () {
        var wdNum = $(this).html();
        if (wdNum == "") {
            $(this).css("padding", 0);
        }
    });


    //打开/关闭聊天框
    $(".chatBtn").click(function () {
        $(".chatBox").toggle(10);
    })
    $(".chat-close").click(function () {
        $(".chatBox").toggle(10);
    })
    //进聊天页面  chat-list-people


    function showChat(bid) {
        document.getElementById("chatBox-content-demo").innerHTML="";
        $.ajax({
            async: false,
            url:'/chat/chatHistory',
            type:'POST',
            data:{bid:bid},
            success:function(data){
                var arr=data.historyList;
                for(var i=0;i<data.historyList.length;i++){
                    var html=document.getElementById("chatBox-content-demo").innerHTML;
                    if(arr[i].sendUser=="left"){
                        document.getElementById("chatBox-content-demo").innerHTML=html+"<div class=\"clearfloat\">\n" +
                            "        <div class=\"author-name\">\n" +

                            "        <small class=\"chat-date\">" +
                            arr[i].sendData +
                            "</small>\n" +
                            "    </div>\n" +
                            "    <div class=\"" +
                            arr[i].sendUser +
                            "\">\n" +
                            " <div class=\"chat-avatars\"><img src=\"/static/img/icon01.png\" alt=\"头像\"/></div>\n"+
                            "       <div class=\"chat-message\">\n" +
                            arr[i].content+
                            "       \n" +
                            "        </div>\n" +
                            "        </div>\n" +
                            "        </div>"
                    }
                    if(arr[i].sendUser=="right"){
                        document.getElementById("chatBox-content-demo").innerHTML=html+"<div class=\"clearfloat\">\n" +
                            "        <div class=\"author-name\">\n" +
                            "        <small class=\"chat-date\">" +
                            arr[i].sendData +
                            "</small>\n" +
                            "    </div>\n" +
                            "    <div class=\"" +
                            arr[i].sendUser +
                            "\">\n" +
                            "       <div class=\"chat-message\">\n" +
                            arr[i].content+
                            "       \n" +
                            "        </div>\n" +
                            " <div class=\"chat-avatars\"><img src=\"/static/img/icon01.png\" alt=\"头像\"/></div>\n"+
                            "        </div>\n" +
                            "        </div>"
                    }


                }
            },
            error:function(){
                alert('请求超时或系统出错!');
            }
        });
        var n = $(".chat-list-people").index();
        $(".chatBox-head-one").toggle();
        $(".chatBox-head-two").toggle();
        $(".chatBox-list").fadeToggle();
        $(".chatBox-kuang").fadeToggle();
        //传名字
        $(".ChatInfoName").text($(".chat-list-people").children(".chat-name").children("."+bid).html());
        //传头像
        $(".ChatInfoHead>img").attr("src", $(".chat-list-people").children().eq(0).children("img").attr("src"));
        //传用户聊天对象id
        document.getElementById("bid").value=document.getElementById("chat"+bid).value;
        //聊天框默认最底部
        $(document).ready(function () {
            $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
        });
    }



    //返回列表
    $(".chat-return").click(function () {
        $(".chatBox-head-one").toggle(1);
        $(".chatBox-head-two").toggle(1);
        $(".chatBox-list").fadeToggle(1);
        $(".chatBox-kuang").fadeToggle(1);
    });

    //      发送信息
    $("#chat-fasong").click(function () {
        var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>')
        var bid=document.getElementById("bid").value
        if (textContent != "") {
            $.ajax({
                async: false,
                url: '/chat/sendChat',
                type: 'POST',
                data: {bid:bid,textContent:textContent},
                success: function (data) {
                    $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                        "<div class=\"author-name\"><small class=\"chat-date\">" +
                        data.sendData +
                        "</small> </div> " +
                        "<div class=\"right\"> <div class=\"chat-message\"> " + textContent + " </div> " +
                        "<div class=\"chat-avatars\"><img src=\"/static/img/icon01.png\" alt=\"头像\" /></div> </div> </div>");
                }
            });
            //发送后清空输入框
            $(".div-textarea").html("");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });

        }
    });

    //      发送表情
    $("#chat-biaoqing").click(function () {
        $(".biaoqing-photo").toggle();
    });
    $(document).click(function () {
        $(".biaoqing-photo").css("display", "none");
    });
    $("#chat-biaoqing").click(function (event) {
        event.stopPropagation();//阻止事件
    });

    $(".emoji-picker-image").each(function () {
        $(this).click(function () {
            var bq = $(this).parent().html();
            console.log(bq)
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"> " + bq + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>");
            //发送后关闭表情框
            $(".biaoqing-photo").toggle();
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        })
    });

    //      发送图片
    function selectImg(pic) {
        if (!pic.files || !pic.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var images = evt.target.result;
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"><img src=" + images + "></div> " +
                "<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        };
        reader.readAsDataURL(pic.files[0]);

    }


</script>


</body>
</html>